version: '3.8'
services:
  mongo:
    image: mongo:6
    container_name: smartqueue_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123

  mongo-express:
    image: mongo-express
    container_name: smartqueue_mongo_express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMIN_USERNAME: admin
      ME_CONFIG_MONGODB_ADMIN_PASSWORD: admin123
      ME_CONFIG_MONGODB_URL: mongodb://admin:admin123@mongo:27017/
    depends_on:
      - mongo

  queue-service:
    build: ./services/queue-service
    container_name: sq_queue
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/smartqueue_db
      - DOCKER_COMPOSE=true
    ports:
      - "4001:4001"
    depends_on:
      - mongo

  ticket-service:
    build: ./services/ticket-service
    container_name: sq_ticket
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/smartqueue_db
      - DOCKER_COMPOSE=true
    ports:
      - "4002:4002"
    depends_on:
      - mongo

  user-service:
    build: ./services/user-service
    container_name: sq_user
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/smartqueue_db
      - DOCKER_COMPOSE=true
    ports:
      - "4003:4003"
    depends_on:
      - mongo

  analytics-service:
    build: ./services/analytics-service
    container_name: sq_analytics
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/smartqueue_db
      - DOCKER_COMPOSE=true
    ports:
      - "4004:4004"
    depends_on:
      - mongo

  notification-service:
    build: ./services/notification-service
    container_name: sq_notification
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://mongo:27017/smartqueue_db
      - DOCKER_COMPOSE=true
    ports:
      - "4005:4005"
    depends_on:
      - mongo

  api-gateway:
    build: ./api-gateway
    container_name: sq_gateway
    environment:
      - NODE_ENV=development
      - QUEUE_SERVICE_URL=http://queue-service:4001
      - TICKET_SERVICE_URL=http://ticket-service:4002
      - USER_SERVICE_URL=http://user-service:4003
      - ANALYTICS_SERVICE_URL=http://analytics-service:4004
      - NOTIFICATION_SERVICE_URL=http://notification-service:4005
      - DOCKER_COMPOSE=true
    ports:
      - "4000:4000"
    depends_on:
      - mongo
      - queue-service
      - ticket-service
      - user-service
      - analytics-service
      - notification-service

volumes:
  mongo_data:
